name: Code Quality Checks
on:
  pull_request:
    branches: ['master']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: Code Quality Checks
    runs-on: macos-latest
    
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout source branch
        uses: actions/checkout@v3
      
      - name: Install xcpretty
        run: gem install xcpretty
        
      - name: Install Cocoapods
        run: gem install cocoapods
        
      - name: Execute pod lint
        run: pod lib lint --no-clean --allow-warnings
